CRMClient/CRMClient/WizardProject/Resources/CRMTasks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CRMTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Task">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TaskId" />
							<xs:element name="SerialNumber" />
							<xs:element name="DestinationUser" />
							<xs:element name="Process" />
							<xs:element name="Activity" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>