K2.Demo.CRM/K2.Demo.CRM.Workflow.Activity/XML/CRMContext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CRMContext">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Context">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EntityId" type="xs:string" />
							<xs:element name="EntityType" type="xs:string" />
							<xs:element name="Organization" type="xs:string" />
							<xs:element name="CRMUserId" type="xs:string" />
							<xs:element name="UserFQN" type="xs:string" />
							<xs:element name="UserDisplayName" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>